





<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <tr>
                                 <td>
                                     
                                     
                                    <table width="298" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth col-2-horizontal">
                                       <tbody>
                                          <!-- Spacing -->
                                          <tr>
                                             <td width="100%" height="40" class="collapse-height-mob"></td>
                                          </tr>
                                          <!-- Spacing -->
                                          <tr>
                                             <td>
                                                
                                                <table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                   <tbody>
                                                      
                                                      <tr>
                                                         <td  style="padding-right: 15px; vertical-align:top;" align="center" class="devicewidth">
                                                            
                                                            <table class="icon-img-area">
                                                                <tr>
                                                                    <td align="center">
                                                                        <img class="col2-image" src="<%= baseUrl %>hire-car.png" alt="" border="0" width="50" style="border:none; outline:none; text-decoration:none;">
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            
                                                         </td>
                                                      
                                                         <td width="100%" class="devicewidth" align="right">
                                                            <table width="100%" align="right" border="0" cellpadding="0" cellspacing="0" class="icon-description-area">
                                                               <tbody>
                                                                  <tr>
                                                                     <td>
                                                                        <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                                           <tbody>
                                                                              <tr>
                                                                                 <td align="left" valign="middle" style="font-size:21px;font-family:arial;color:#666666;">Need a Hire Car?</td>
                                                                              </tr>
                                                                           </tbody>
                                                                        </table>
                                                                     </td>
                                                                  </tr>
                                                                  <tr>
                                                                     <td style="font-size:14px;font-family:arial;color:#656565;line-height:20px; text-align:left;">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesenti voluptatum deleniti atque</td>
                                                                  </tr>
                                                                  
                                                                  
                                                                  
                                                               </tbody>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>

                                          
                                          
                                       </tbody>
                                    </table>
                                     
                                     
                                     
                                     
                                     
                                    <table width="298" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth col-2-horizontal">
                                       <tbody>
                                          <!-- Spacing -->
                                          <tr>
                                             <td width="100%" height="40" class="collapse-height-mob"></td>
                                          </tr>
                                          <!-- Spacing -->
                                          <tr>
                                             <td>
                                                
                                                <table width="290" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                   <tbody>
                                                      
                                                      <tr>
                                                         <td  style="padding-right: 15px; vertical-align:top;" align="center" class="devicewidth">
                                                            
                                                            <table class="icon-img-area">
                                                                <tr>
                                                                    <td align="center">
                                                                        <img class="col2-image" src="<%= baseUrl %>cruise-away.png" alt="" border="0" width="50" style="border:none; outline:none; text-decoration:none;">
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            
                                                         </td>
                                                      
                                                         <td width="100%" class="devicewidth" align="right">
                                                            <table width="100%" align="right" border="0" cellpadding="0" cellspacing="0" class="icon-description-area">
                                                               <tbody>
                                                                  <tr>
                                                                     <td>
                                                                        <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                                           <tbody>
                                                                              <tr>
                                                                                 <td align="left" valign="middle" style="font-size:21px;font-family:arial;color:#666666;">Cruise away?</td>
                                                                              </tr>
                                                                           </tbody>
                                                                        </table>
                                                                     </td>
                                                                  </tr>
                                                                  <tr>
                                                                     <td style="font-size:14px;font-family:arial;color:#656565;line-height:20px; text-align:left;">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesenti voluptatum deleniti atque</td>
                                                                  </tr>
                                                                  
                                                                  
                                                                  
                                                               </tbody>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>

                                          
                                          
                                       </tbody>
                                    </table>
                                    
                                    
                                    
                                    
                                    
                                    
  
  
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
