<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
	<tbody>
		<tr>
			<td>
			<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
				<tbody>
					<tr>
						<td width="100%">
						<table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
							<tbody>
								<tr>
									<td style="padding: 0px 0px 10px;">
									<table width="198" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
										<tbody>
											<!-- Spacing -->
											<tr>
												<td width="100%" height="20" class="collapse-height-mob"></td>
											</tr>
											<!-- Spacing -->
											<tr>
												<td>
												<table width="190" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
													<tbody>
														<tr>
															<td width="100%" align="center" class="devicewidth"><a href="http://www.helloworld.com.au/mktg/hello-thailand/?WT.mc_id=E_promo_OnlineAir_LP_190315&WT.tsrc=Email&utm_source=newsletter&utm_medium=email&utm_campaign=thai-150615" title="Flights to Thailand" alias="Flights to Thailand" conversion="false"><img class="col3banner" src="http://image.news.helloworld.com.au/lib/fe821272776d0d757c/m/2/thaiboat.jpg" alt="Flights to Thailand" border="0" width="186" style="border: none; outline: none; text-decoration: none; width: 186px; height: 101px; margin: 0px;" title="Flights to Thailand" height="101" thid="46b9bc72-671a-439d-ac77-ea5690899981" /></a>
															</td>
														</tr>
														<!-- Spacing -->
														<tr>
															<td width="100%" height="5" class="collapse-height-10"></td>
														</tr>
														<!-- Spacing -->
														<tr>
															<td width="100%" class="devicewidth">
															<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
																<tbody>
																	<tr>
																		<td>
																		<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
																			<tbody>
																				<tr>
																					<td align="left" valign="middle" style="font-size: 21px; font-family: arial; color: #666666;">Flights</td>
																					<td align="right" valign="middle">
																					<img src="http://image.news.helloworld.com.au/lib/fe821272776d0d757c/m/2/icon-flight.png" alt="" border="0" width="30" height="30" style="border: none; outline: none; text-decoration: none;" />
																					</td>
																				</tr>
																			</tbody>
																		</table>
																		</td>
																	</tr>
																	<tr>
																		<td align="left" valign="middle" style="font-size: 11px; font-family: arial; color: #a2a2a2;">RETURN FROM</td>
																	</tr>
																	<!-- Spacing -->
																	<tr>
																		<td width="100%" height="10" class="collapse-height-10"></td>
																	</tr>
																	<!-- Spacing -->
																	<tr>
																		<td>
																		<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
																			<tbody>
																				<tr>
																					<td align="left" valign="middle" style="font-size: 24px; font-family: arial; color: #f58227;"><sup style="font-size: 14px;">$</sup>754<sup style="font-size: 14px;">*</sup> <span style="font-size: 12px; font-family: arial; color: #a2a2a2;">p/p</span></td>
																					<td align="right" valign="middle">
																					<a href="http://www.helloworld.com.au/mktg/hello-thailand/?WT.mc_id=E_promo_OnlineAir_LP_190315&WT.tsrc=Email&utm_source=newsletter&utm_medium=email&utm_campaign=thai-150615" title="Book Flights" alias="Book Flights" conversion="false"><img src="http://image.news.helloworld.com.au/lib/fe821272776d0d757c/m/2/btn-book-now-big.png" alt="Book Flights" border="0" width="110" height="38" style="border: none; outline: none; text-decoration: none; width: 110px; height: 38px; margin: 0px;" title="Book Flights" /></a>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																		</td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									<table width="197" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
										<tbody>
											<!-- Spacing -->
											<tr>
												<td width="100%" height="20" class="collapse-height-mob"></td>
											</tr>
											<!-- Spacing -->
											<tr>
												<td>
												<table width="190" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
													<tbody>
														<tr>
															<td width="100%" align="center" class="devicewidth"><a href="http://www.helloworld.com.au/mktg/hello-thailand/?WT.mc_id=E_promo_OnlineAir_LP_190315&WT.tsrc=Email&utm_source=newsletter&utm_medium=email&utm_campaign=thai-150615" title="Thailand Hotels On Sale" alias="Thailand Hotels On Sale" conversion="false"><img class="col3banner" src="http://image.news.helloworld.com.au/lib/fe821272776d0d757c/m/2/thaigrass.jpg" alt="Thailand Hotels On Sale" border="0" width="186" style="border: none; outline: none; text-decoration: none; width: 186px; height: 101px; margin: 0px;" title="Thailand Hotels On Sale" thid="3e9cea17-53ae-4f74-98fc-da508f48bd55" height="101" /></a>
															</td>
														</tr>
														<!-- Spacing -->
														<tr>
															<td width="100%" height="5" class="collapse-height-10"></td>
														</tr>
														<!-- Spacing -->
														<tr>
															<td width="100%" class="devicewidth">
															<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
																<tbody>
																	<tr>
																		<td>
																		<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
																			<tbody>
																				<tr>
																					<td align="left" valign="middle" style="font-size: 21px; font-family: arial; color: #666666;">Hotels</td>
																					<td height="30" align="right" valign="middle">
																					<img src="http://image.news.helloworld.com.au/lib/fe821272776d0d757c/m/2/hotel-icon.png" alt="hotel-icon" border="0" width="30" height="24" style="border: none; outline: none; text-decoration: none; width: 30px; height: 24px; margin: 0px;" title="hotel-icon" />
																					</td>
																				</tr>
																			</tbody>
																		</table>
																		</td>
																	</tr>
																	<tr>
																		<td align="left" valign="middle" style="font-size: 11px; font-family: arial; color: #a2a2a2;">PER NIGHT FROM</td>
																	</tr>
																	<!-- Spacing -->
																	<tr>
																		<td width="100%" height="10" class="collapse-height-10"></td>
																	</tr>
																	<!-- Spacing -->
																	<tr>
																		<td>
																		<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
																			<tbody>
																				<tr>
																					<td align="left" valign="middle" style="font-size: 24px; font-family: arial; color: #f58227;"><sup style="font-size: 14px;">$</sup>25<sup style="font-size: 14px;">*</sup> <span style="font-size: 12px; font-family: arial; color: #a2a2a2;">p/n</span></td>
																					<td align="right" valign="middle">
																					<a href="http://www.helloworld.com.au/mktg/hello-thailand/?WT.mc_id=E_promo_OnlineAir_LP_190315&WT.tsrc=Email&utm_source=newsletter&utm_medium=email&utm_campaign=thai-150615" title="Book Hotels" alias="Book Hotels" conversion="false"><img src="http://image.news.helloworld.com.au/lib/fe821272776d0d757c/m/2/btn-book-now-big.png" alt="Book Hotels" border="0" width="110" height="38" style="border: none; outline: none; text-decoration: none; width: 110px; height: 38px; margin: 0px;" title="Book Hotels" /></a>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																		</td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									<table width="198" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
										<tbody>
											<!-- Spacing -->
											<tr>
												<td width="100%" height="20" class="collapse-height-mob"></td>
											</tr>
											<!-- Spacing -->
											<tr>
												<td>
												<table width="190" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
													<tbody>
														<tr>
															<td width="100%" align="center" class="devicewidth"><a href="http://www.helloworld.com.au/mktg/hello-thailand/?WT.mc_id=E_promo_OnlineAir_LP_190315&WT.tsrc=Email&utm_source=newsletter&utm_medium=email&utm_campaign=thai-150615" title="Packages on Sale" alias="Packages on Sale" conversion="false"><img class="col3banner" src="http://image.news.helloworld.com.au/lib/fe821272776d0d757c/m/2/thaitree.jpg" alt="Packages on Sale" border="0" width="186" style="border: none; outline: none; text-decoration: none; width: 186px; height: 101px; margin: 0px;" title="Packages on Sale" thid="01c2a101-81e7-45e1-b51b-4379883af81e" height="101" /></a>
															</td>
														</tr>
														<!-- Spacing -->
														<tr>
															<td width="100%" height="5" class="collapse-height-10"></td>
														</tr>
														<!-- Spacing -->
														<tr>
															<td width="100%" class="devicewidth">
															<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
																<tbody>
																	<tr>
																		<td>
																		<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed;">
																			<tbody>
																				<tr>
																					<td align="left" valign="middle" style="font-size: 21px; font-family: arial; color: #666666; word-wrap: break-word; word-break:break-all;">Packagessgdfhsdfghjg</td>
																					<td align="right" valign="top">
																					<img src="http://image.news.helloworld.com.au/lib/fe821272776d0d757c/m/2/single-detail-deal.png" alt="single-detail-deal" border="0" width="86" height="30" style="border: none; outline: none; text-decoration: none; width: 86px; height: 30px; margin: 0px;" title="single-detail-deal" />
																					</td>
																				</tr>
																			</tbody>
																		</table>
																		</td>
																	</tr>
																	<tr>
																		<td align="left" valign="middle" style="font-size: 11px; font-family: arial; color: #a2a2a2;">STARTING FROM</td>
																	</tr>
																	<!-- Spacing -->
																	<tr>
																		<td width="100%" height="10" class="collapse-height-10"></td>
																	</tr>
																	<!-- Spacing -->
																	<tr>
																		<td>
																		<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
																			<tbody>
																				<tr>
																					<td align="left" valign="middle" style="font-size: 24px; font-family: arial; color: #f58227;"><sup style="font-size: 14px;">$</sup>859<sup style="font-size: 14px;">*</sup> <span style="font-size: 12px; font-family: arial; color: #a2a2a2;">p/p</span></td>
																					<td align="right" valign="middle">
																					<a href="http://www.helloworld.com.au/mktg/hello-thailand/?WT.mc_id=E_promo_OnlineAir_LP_190315&WT.tsrc=Email&utm_source=newsletter&utm_medium=email&utm_campaign=thai-150615" title="Book Packages" alias="Book Packages" conversion="false"><img src="http://image.news.helloworld.com.au/lib/fe821272776d0d757c/m/2/btn-book-now-big.png" alt="Book Packages" border="0" width="110" height="38" style="border: none; outline: none; text-decoration: none; width: 110px; height: 38px; margin: 0px;" title="Book Packages" /></a>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																		</td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>