<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" >
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              
                              <tr>
                                 <td>
                                    <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                       <tbody>
                                          <tr>
                                             <td align="left" style="font-family: arial, sans-serif, helvetica; font-size: 14px;line-height: 14px;font-weight:normal;color:#666666;text-align:left;margin:0;">
                                                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    
                                 </td>
                              </tr>
                              <!-- Spacing -->
                              <tr>
                                 <td width="100%" height="10"></td>
                              </tr>
                              <!-- Spacing -->
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>