<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" class="mob-generic-top-bottom-margin">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <tr>
                                 <td>
                                    <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                       <tbody>
                                          <!-- Spacing -->
                                          <tr>
                                             <td width="100%" height="40" class="collapse-height-10"></td>
                                          </tr>
                                          <!-- Spacing -->
                                          <tr>
                                             <td>                                                
                                                <table width="100%" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner" >
                                                   <tbody>                                                      
                                                      <tr>
                                                         <td width="5%"></td>
                                                         <td width="90%" align="center" >
                                                            <p style="font-family: arial, sans-serif, helvetica; font-size: 21px;color: #656565; text-align: left;">Terms and Conditions</p>
                                                            <br />
                                                            <p style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: left;">*Prices are correct as at 11 February 2015 but may fluctuate due to peak demands or if surcharges, fees, taxes or currency change. All prices and offers shown are provided as a guide only, are subject to availability and can be withdrawn without notice. Agents may charge service fees, rates vary. Payment by credit card will incur a surcharge. Prices displayed are per person in return economy. All prepaid taxes and fees are included. Amounts payable to third parties are not included. Baggage fees, minimum and maximum stay restrictions, black-out dates, change or cancellation fees may apply. Please check all prices, availability and other information before booking. Please review the fare rules provided prior to booking. See online for full details. All bookings subject to Airline and helloworld <a href="#" style="color: #656565; text-decoration: underline !important;">Booking Terms and Conditions</a>.</p>
                                                            <br />
                                                            <p style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: left;">Stella Travel Services (Australia) Pty Limited (ABN 84 003 237 296) trading as helloworld.</p>
                                                            <br />
                                                            <p style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: left;">This email was sent by: Helloworld Limited Level 3, 77 Berry Street North Sydney, NSW, 2060, Australia</p>
                                                         </td>
                                                         <td width="5%"></td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>

                                          <tr>
                                             <td width="100%" height="40" class="collapse-height-10"></td>
                                          </tr>

                                          <tr>
                                             <td width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;"><img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;" /></td>
                                          </tr>
                                          
                                       </tbody>
                                    </table>

                                    
 
                                    

                                    
                                    
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
