<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" st-sortable="preheader" >
 <tbody>
    <tr>
      <td>
         <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
           <tbody>
             <!-- Spacing -->
             <tr>
                <td width="100%" height="10"></td>
             </tr>
             <!-- Spacing -->
             <tr>
               <td width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;">
                 <img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;">
               </td>
             </tr>
             <!-- Spacing -->
             <tr>
                <td width="100%" height="10"></td>
             </tr>
             <!-- Spacing -->
             <tr>
               <td>
                 <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                   <tbody>
                     <tr>
                       <td align="left" width="161">
                         <img src="<%= baseUrl %>hw-logo.png" alt="" border="0" width="161" height="32" style="display:block; border:none; outline:none; text-decoration:none;">
                       </td>
                       <td align="right" width="30">
                         <img src="<%= baseUrl %>flight-icon.png" alt="" border="0" width="30" height="30" style="display:block; border:none; outline:none; text-decoration:none;">
                       </td>
                     </tr>
                   </tbody>
                 </table>
               </td>
             </tr>
             <!-- Spacing -->
             <tr>
                <td width="100%" height="10"></td>
             </tr>
             <!-- Spacing -->
            </tbody>
          </table>
        </td>
      </tr>
  </tbody>
</table>
