<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" st-sortable="preheader" >
 <tbody>
    <tr>
      <td>
         <table width="500" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
           <tbody>
             <!-- Spacing -->
             <tr>
                <td width="100%" height="20"></td>
             </tr>
             <!-- Spacing -->
             <tr>
               <td align="left">
                 <h1 style="font-family: arial, sans-serif, helvetica; font-size: 24px;line-height: 24px;font-weight:normal;color:#565656;text-align:left;margin:0;">
                   Traveller Informations
                 </h1>
               </td>
             </tr>
             <!-- Spacing -->
             <tr>
                <td width="100%" height="10"></td>
             </tr>
             <!-- Spacing -->

             <!-- ////////////////////////////////////////////////////////Main Contact//////////////////////////////////////////////////////////////// -->

             <tr>
               <td align="left">
                 <h2 style="font-family: arial, sans-serif, helvetica; font-size: 18px;line-height: 18px;font-weight:normal;color:#565656;text-align:left;margin:0;">
                   Main Contact
                 </h2>
               </td>
             </tr>
             <!-- Spacing -->
             <tr>
                <td width="100%" height="10"></td>
             </tr>
             <!-- Spacing -->
             <tr>
               <td>
                 <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                   <tbody>
                     <tr>
                       <td align="left" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:bold;color:#565656;text-align:left;margin:0;">
                           Contact name
                         </span>
                       </td>
                       <td align="right" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:normal;color:#565656;text-align:right;margin:0;">
                           Joanne Kathleen Dunster
                         </span>
                       </td>
                     </tr>
                     <tr>
                       <td align="left" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:bold;color:#565656;text-align:left;margin:0;">
                           Email
                         </span>
                       </td>
                       <td align="right" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:normal;color:#565656;text-align:right;margin:0;">
                           wefneck@gmail.com
                         </span>
                       </td>
                     </tr>
                     <tr>
                       <td align="left" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:bold;color:#565656;text-align:left;margin:0;">
                           Phone number
                         </span>
                       </td>
                       <td align="right" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:normal;color:#565656;text-align:right;margin:0;">
                           0417412137
                         </span>
                       </td>
                     </tr>
                   </tbody>
                 </table>
               </td>
             </tr>
             <!-- Spacing -->
             <tr>
                <td width="100%" height="20"></td>
             </tr>
             <!-- Spacing -->

             <!-- ////////////////////////////////////////////////////////Main Contact//////////////////////////////////////////////////////////////// -->

             <!-- ////////////////////////////////////////////////////////Single Traveller item//////////////////////////////////////////////////////////////// -->

             <tr>
               <td align="left">
                 <h2 style="font-family: arial, sans-serif, helvetica; font-size: 18px;line-height: 18px;font-weight:normal;color:#565656;text-align:left;margin:0;">
                   Traveller 1 - Adult
                 </h2>
               </td>
             </tr>
             <!-- Spacing -->
             <tr>
                <td width="100%" height="10"></td>
             </tr>
             <!-- Spacing -->
             <tr>
               <td>
                 <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                   <tbody>
                     <tr>
                       <td align="left" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:bold;color:#565656;text-align:left;margin:0;">
                           Traveller name
                         </span>
                       </td>
                       <td align="right" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:normal;color:#565656;text-align:right;margin:0;">
                           Joanne Kathleen Dunster
                         </span>
                       </td>
                     </tr>
                     <tr>
                       <td align="left" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:bold;color:#565656;text-align:left;margin:0;">
                           Date of birth
                         </span>
                       </td>
                       <td align="right" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:normal;color:#565656;text-align:right;margin:0;">
                           23/11/1962
                         </span>
                       </td>
                     </tr>
                     <tr>
                       <td align="left" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:bold;color:#565656;text-align:left;margin:0;">
                           Meal (if available)
                         </span>
                       </td>
                       <td align="right" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:normal;color:#565656;text-align:right;margin:0;">
                           Standard
                         </span>
                       </td>
                     </tr>
                   </tbody>
                 </table>
               </td>
             </tr>

             <!-- Spacing -->
             <tr>
                <td width="100%" height="10"></td>
             </tr>
             <!-- Spacing -->

             <tr>
               <td>
                 <table bgcolor="#ffffff" width="100%" cellpadding="5" cellspacing="0" border="2" bordercolor="#00BBE3" align="center" class="devicewidth">
                   <tbody>
                     <tr>
                       <td>
                         <table bgcolor="#ffffff" width="100%" cellpadding="5" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                             <tr>
                               <td align="left" valign="top">
                                 <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:bold;color:#565656;text-align:left;margin:0;">
                                   Ticket number
                                 </span>
                               </td>
                               <td align="right" valign="top">
                                 <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:normal;color:#565656;text-align:right;margin:0;">
                                   34783272871260
                                 </span>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </td>
                     </tr>
                   </tbody>
                 </table>
               </td>
             </tr>

             <!-- Spacing -->
             <tr>
                <td width="100%" height="20"></td>
             </tr>
             <!-- Spacing -->

             <!-- ////////////////////////////////////////////////////////Single Traveller item//////////////////////////////////////////////////////////////// -->

             <!-- ////////////////////////////////////////////////////////Single Traveller item//////////////////////////////////////////////////////////////// -->
             <tr>
               <td align="left">
                 <h2 style="font-family: arial, sans-serif, helvetica; font-size: 18px;line-height: 18px;font-weight:normal;color:#565656;text-align:left;margin:0;">
                   Traveller 2 - Child
                 </h2>
               </td>
             </tr>
             <!-- Spacing -->
             <tr>
                <td width="100%" height="10"></td>
             </tr>
             <!-- Spacing -->
             <tr>
               <td>
                 <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                   <tbody>
                     <tr>
                       <td align="left" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:bold;color:#565656;text-align:left;margin:0;">
                           Traveller name
                         </span>
                       </td>
                       <td align="right" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:normal;color:#565656;text-align:right;margin:0;">
                           Joanne Kathleen Dunster
                         </span>
                       </td>
                     </tr>
                     <tr>
                       <td align="left" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:bold;color:#565656;text-align:left;margin:0;">
                           Date of birth
                         </span>
                       </td>
                       <td align="right" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:normal;color:#565656;text-align:right;margin:0;">
                           23/11/1992
                         </span>
                       </td>
                     </tr>
                     <tr>
                       <td align="left" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:bold;color:#565656;text-align:left;margin:0;">
                           Meal (if available)
                         </span>
                       </td>
                       <td align="right" valign="top">
                         <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:normal;color:#565656;text-align:right;margin:0;">
                           Standard
                         </span>
                       </td>
                     </tr>
                   </tbody>
                 </table>
               </td>
             </tr>

             <!-- Spacing -->
             <tr>
                <td width="100%" height="10"></td>
             </tr>
             <!-- Spacing -->

             <tr>
               <td>
                 <table bgcolor="#ffffff" width="100%" cellpadding="5" cellspacing="0" border="2" bordercolor="#00BBE3" align="center" class="devicewidth">
                   <tbody>
                     <tr>
                       <td>
                         <table bgcolor="#ffffff" width="100%" cellpadding="5" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                             <tr>
                               <td align="left" valign="top">
                                 <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:bold;color:#565656;text-align:left;margin:0;">
                                   Ticket number
                                 </span>
                               </td>
                               <td align="right" valign="top">
                                 <span style="font-family: arial, sans-serif, helvetica; font-size: 15px;line-height: 15px;font-weight:normal;color:#565656;text-align:right;margin:0;">
                                   34783272871260
                                 </span>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </td>
                     </tr>
                   </tbody>
                 </table>
               </td>
             </tr>

             <!-- ////////////////////////////////////////////////////////Single Traveller item//////////////////////////////////////////////////////////////// -->

             <!-- Spacing -->
             <tr>
                <td width="100%" height="10"></td>
             </tr>
             <!-- Spacing -->
             <tr>
               <td width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;">
                 <img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;">
               </td>
             </tr>
            </tbody>
          </table>
        </td>
      </tr>
  </tbody>
</table>
