<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
 <tbody>
    <tr>
      <td>

        <table width="500" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
          <tbody>
            <tr>
              <td align="center" height="70" bgcolor="#F1F1F1" style="font-family: arial, sans-serif, helvetica;color: #565656; font-size: 28px;">
                Purchase confirmation
              </td>
            </tr>
            <tr>
              <td>
                <a href="#_">
                  <img border="0" width="100%" height="5" src="<%= baseUrl %>border-shadow.png" style="display: block; font-size: 0%;">
                </a>
              </td>
            </tr>

            <!-- Spacing -->
            <tr>
               <td width="100%" height="20"></td>
            </tr>
            <!-- Spacing -->

            <tr>
              <td align="left" style="font-family: arial, sans-serif, helvetica;color: #565656;">
                <span style="font-size: 24px">Thank you for booking your trip to *Location* with us.</span>
                <br /><br />
                <span style="font-size: 15px">
                  Thank you for booking with helloworld online. Your purchase has been completed and we are in the process of issuing your ticket.
                  <br /><br />
                  You will receive a "Ticket Confirmation” email from us soon, which will contain your full flight confirmation.
                </span>
              </td>
            </tr>

            <!-- Spacing -->
            <tr>
               <td width="100%" height="10"></td>
            </tr>
            <!-- Spacing -->

            <tr>
              <td width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;">
                <img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;">
              </td>
            </tr>

          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>
